.back-btn,
.reload {
  position: fixed;
  top: 10px;
  margin: 20px 46%;
  background: #5c5c5cd8;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: #fff;
  z-index: 99;
}

.reload {
  top: 90%;
}

.back-btn:hover,
.reload:hover {
  background: #17011dc3;
  border: #c800ff9e 1px solid;
}

.back-btn:active,
.reload:active {
  background: #2b02369b;
  transform: scale(0.9);
}
