.back-btn,
.reload {
  position: fixed;
  top: 20px;
  margin: auto;
  background: #5c5c5c;
  border: none;
  border-radius: 0.85rem;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: #fff;
}

.reload {
  top: 80px;
}

.back-btn:hover,
.reload:hover {
  background: #000;
}
