@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(7, 7, 10);
  --card-color: rgb(12, 12, 12);
}

body {
  font-family: "Muli", sans-serif;
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

#container {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 9px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 270px;
  flex-direction: column;
  position: relative;
  width: 300px;
  z-index: 2;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 360ms;
  width: 100%;
}

.card::before {
  background:
    radial-gradient(
      720px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.63) 2%,
      transparent 40%
    );
  z-index: 3;
  mix-blend-mode: soft-light;
}

.card::after {
  background:
    radial-gradient(
      270px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.54),
      transparent 70%
    );
  z-index: 1;
  mix-blend-mode: hard-light;
}

.card:hover::before {
  opacity: 1;
}

#container:hover > .card::after {
  opacity: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: rgb(240, 240, 240);
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.card-id {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  transition: all 0.27s ease;
  transition-delay: 0.27s;
  color: #909090;
  font-weight: 200;
  font-size: 12px;
}

.card:hover .card-id {
  opacity: 0.5;
  font-size: 15px;
}

.card-img {
  align-items: center;
  display: flex;
  height: 60%;
  justify-content: center;
  overflow: hidden;
}

.card-img-icon {
  font-size: 6em;
  text-align: center;
  opacity: 0.8;
  filter: saturate(0.45);
  transition: all 360ms;
}

.card:hover .card-img-icon {
  opacity: 1;
  filter: saturate(1.1);
}


.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0 20px;
}

.card-info-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75em;
  margin-top: 5px;
}

@media (max-width: 480px) {
  #container {
    padding: 3rem 0.5rem;
  }

  .card {
    min-width: 72%;
    min-height: 270px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 900px) {
  /* For desktop: */
  .card {
    width: 25%;
    width: calc(50% - 4px);
  }
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .card {
    height: 180px;
    width: 45%;
  }

  .card-image {
    height: 100px;
  }

  .card-img-icon {
    font-size: 4em;
  }

  .card-info-wrapper {
    padding: 0 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
