@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  width: 90vw;
}

.card {
  display: flex;
  background-color: #939393;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border: solid 1px #000;
  border-radius: 0.5rem;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.card-number {
  text-align: center;
  color: #646464;
  font-size: 4rem;
  font-weight: 700;
  flex: 1;
}

.card-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  flex: 4;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}
