@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1080' height='710' preserveAspectRatio='none' viewBox='0 0 1080 710'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1118%26quot%3b)' fill='none'%3e%3crect width='1080' height='710' x='0' y='0' fill='url(%23SvgjsLinearGradient1119)'%3e%3c/rect%3e%3cpath d='M47.82 178C60.8 96.39 -0.6 49.5 35.6 0C64.49 -39.5 106.8 0 178 0C249.2 0 252.32 -9.73 320.4 0C341.32 2.99 334.95 23.79 356 25.43C441.75 32.13 448.42 28.01 534 16.69C544.54 15.3 537.73 0.99 548.24 0C626.73 -7.36 630.12 0 712 0C801 0 801 0 890 0C979 0 979 0 1068 0C1140.32 0 1185.78 -39.7 1212.63 0C1245.98 49.3 1201 89.07 1188.41 178C1175.8 267.07 1143.39 283.15 1162.24 356C1172.18 394.4 1228.6 363.53 1246 400.5C1270.48 452.53 1246 467.25 1246 534C1246 623 1290.5 667.5 1246 712C1201.5 756.5 1157 712 1068 712C1013.39 712 989.1 744.9 958.77 712C907.05 655.9 934.94 620.89 903.91 534C900.55 524.6 897.75 519.41 890 519.41C879.94 519.41 871.48 521.8 868.29 534C846.27 618.1 885.33 659.88 839.57 712C807.19 748.88 775.79 712 712 712C623 712 623 712 534 712C445 712 445 712 356 712C282.48 712 276.64 725.1 208.96 712C187.64 707.87 197.99 677.55 178 677.55C131.65 677.55 128.32 701.93 76.29 712C39.32 719.15 11.44 738.7 0 712C-26.7 649.7 0 623 0 534C0 445 0 445 0 356C0 289.88 -15.93 283.08 0 223.77C7.98 194.08 43 208.28 47.82 178' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M356 486.15C326.26 486.15 296.67 509.15 296.67 534C296.67 560.21 326.24 588.27 356 588.27C385.98 588.27 416.14 560.2 416.14 534C416.14 509.14 385.99 486.15 356 486.15' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M114.24 178C158.05 100.64 133.3 82.2 162.74 0C165.18 -6.8 170.37 0 178 0C185.63 0 186.95 -4.12 193.26 0C275.95 54 266.45 93.58 356 116.24C436.82 136.69 456.73 121.92 534 86.22C582.52 63.8 561.25 22.44 607.57 0C650.25 -20.67 659.79 0 712 0C801 0 801 0 890 0C928.14 0 943.49 -24.7 966.29 0C1025.64 64.3 1019.32 86.15 1054.31 178C1070.18 219.65 1062.81 222.31 1068 267C1073.15 311.31 1046.9 327.63 1074.98 356C1135.9 417.55 1187.03 385.47 1246 446.85C1272.54 474.47 1246 490.42 1246 534C1246 623 1290.5 667.5 1246 712C1201.5 756.5 1157 712 1068 712C1063.95 712 1061.77 715.5 1059.91 712C1014.49 626.5 1026.17 616.41 973.44 534C941.22 483.64 936.5 446.46 890 446.46C829.66 446.46 788.94 471.81 759.76 534C726.64 604.58 783.77 643.53 765.4 712C759.89 732.53 738.7 712 712 712C639.18 712 635.75 721.91 566.36 712C546.75 709.2 548.62 686.57 534 686.57C522.55 686.57 529.28 709.85 514.22 712C440.28 722.56 435.11 712 356 712C314.73 712 273.45 727.05 273.45 712C273.45 692.32 315.46 678.12 356 642.54C416.87 589.12 476.27 586.4 476.27 534C476.27 484.28 415.98 438.3 356 438.3C296.51 438.3 292.58 482.02 237.33 534C203.58 565.75 214.54 605.77 178 605.77C119.43 605.77 109.18 574.53 47.12 534C20.18 516.4 7.7 518.59 0 489.5C-15.86 429.59 0 422.75 0 356C0 321.67 -17.29 314.28 0 287.34C39.83 225.28 76.68 244.31 114.24 178' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M712 145.04C690.39 145.04 670.6 161.13 670.6 178C670.6 195.41 690.29 213.6 712 213.6C737.17 213.6 764.35 195.34 764.35 178C764.35 161.06 737.26 145.04 712 145.04' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M534 341.17C528.07 341.17 522.39 348.2 522.39 356C522.39 365.5 528.05 375.78 534 375.78C540.06 375.78 546.42 365.47 546.42 356C546.42 348.16 540.09 341.17 534 341.17' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M445 178C445 163.01 491.45 155.75 534 155.75C552.51 155.75 567.12 164.52 567.12 178C567.12 195.43 555.14 217.56 534 217.56C494.08 217.56 445 193.91 445 178' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M712 62.63C683.57 62.63 666.91 19.77 666.91 0C666.91 -11.55 689.45 0 712 0C760.32 0 808.63 -14.29 808.63 0C808.63 17.03 754.43 62.63 712 62.63' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 350.91C33.23 350.91 71.2 352.27 71.2 356C71.2 359.76 31.29 365.89 0 365.89C-4.31 365.89 0 360.94 0 356C0 353.46 -2.37 350.91 0 350.91' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M203.43 356C203.43 312.14 291.47 232.77 356 232.77C402.58 232.77 425.65 305.1 425.65 356C425.65 383.94 392.88 390.45 356 390.45C281.77 390.45 203.43 390.98 203.43 356' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M649.91 356C649.91 325.13 677.58 324.47 712 302.6C797.63 248.19 829.32 188.35 890 203.43C936.74 215.05 926.83 288.5 926.83 356C926.83 373.54 908.74 365.48 890 373.51C801.32 411.51 788.2 453.63 712 448.07C668.15 444.87 649.91 397.86 649.91 356' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1042.97 534C1042.97 508.97 1043.74 488.81 1068 483.94C1145.26 468.42 1173.57 472.84 1246 493.21C1262.57 497.87 1246 513.61 1246 534C1246 623 1249.56 626.56 1246 712C1245.85 715.56 1241.57 714.15 1238.58 712C1152.57 650.18 1145.47 654.56 1068 584.06C1047.67 565.56 1042.97 559.03 1042.97 534' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M337.94 712C337.94 707.69 345.88 696.8 356 696.8C372.21 696.8 390.61 708.03 390.61 712C390.61 715.63 373.31 712 356 712C346.97 712 337.94 715.29 337.94 712' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1118'%3e%3crect width='1080' height='710' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='8.56%25' y1='-13.03%25' x2='91.44%25' y2='113.03%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1119'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 91%2c 208%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  background-size: cover;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 2, 34, 0.8);
  padding: 0;
  border-radius: 5px;
  opacity: 0;
  transform: translate(0, -20%) scale(0.7);
  box-shadow: 0 0 12px #ffffff26;
}

.container.loaded {
  padding: 20px 40px;
  opacity: 1;
  transform: translate(0, 0) scale(1);
  transition: all 1.4s ease;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
  text-align: center;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
