@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3b3b98;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: #23235b;
  box-shadow: 0 0 20px #626292d6;
  padding: 20px;
  width: 350px;
  max-width: 100%;
  border-radius: 12px;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
  border-radius: 8px;
}

#result::-webkit-scrollbar {
  width: 1rem;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  overflow-y: scroll;
  height: 100%;
}

.btn {
  border: none;
  background-color: #3b3b98;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

#length {
  width: 50px;
  text-align: center;
  padding: 2px 6px;
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

#modal {
  display: none;
  position: absolute;
  width: 30%;
  height: 20%;
  background-color: #fffffff1;
  color: #23235b;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#modal-close {
  text-align: center;
  padding: 5px 9px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 12px;
  transition: background-color 0.1s ease-in-out;
}

#modal-close:hover,
.btn:hover {
  background-color: #494990;
}
