@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 3rem 0;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;
  gap: 20px;
  overflow-x: hidden;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  box-shadow: none;
  transform: translateX(600px);
  opacity: 0;
  transition: all 1s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-600px);
}

.box.show {
  transform: translateX(0);
  opacity: 1;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.box h2 {
  text-transform: lowercase;
  font-size: 36px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 400px) {
  .box {
    min-width: 80%;
  }
}
